.header__up_blocks {
    padding: .3rem 0;
    position: relative;
 
   
}
.logo_and_contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header__logo {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
}
.logo__img{
    width: 3rem;
    height: 3rem;
    background: url(../img/logo.png) center/ cover no-repeat;
}
.h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: .3rem;
}
.simeropol_p{
    text-align: center;
}
.__contacts {  
    display: grid;
    gap: .3rem;
    grid-template-columns:repeat(4, 2.1rem);
    padding: .3rem;
}
.header__contacts{
    display: none;
}
.mess__style {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.telephone {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    background: var(--mainColorRed);
    border-radius: .1rem;
    font-weight: 700;
    text-shadow: 0 0 .1rem black;
    color: white;
    box-shadow: 0 0 .2rem 0 black;
    padding: .2rem 0;
}
.telephone__burger{
    position: relative;
background: url(../img/telephone-call-svgrepo-com.svg) center/cover no-repeat;
}
.telephone__burger span {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.vibra__frame_1 {
    left: 13px;
    top: 13px;
    box-shadow: 0 0 20px 5px rgb(255, 255, 255) inset;
    width: 1px;
    height: 1px;
}

.vibra__frame_2 {
    left: -8px;
    top: -8px;
    box-shadow: 0 0 3px 0px rgb(20, 109, 145) inset;
    width: 44px;
    height: 44px;
    transition: 1s;
}
.whatsapp {
    background: url(../img/whatsapp-whats-app-svgrepo-com.svg) center/cover no-repeat;
}
.viber {
    background: url(../img/viber-chat-app-svgrepo-com.svg) center/cover no-repeat;
}
.telegram {
    background: url(../img/telegram-svgrepo-com.svg) center/cover no-repeat;
}
.header__down_blocks {
    background: var(--mainColorRed);
    position: relative;
    top: 0;
   z-index: 2000;
}

.header__nav {
    display: none;
}
.header__nav_ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    
}
.header__nav_li {
    font-size: 1.2rem;
    padding: .3rem 0;  
    border-left: .1rem solid rgb(255, 255, 255); 
    color: white; 
   cursor: pointer;
}
.header__nav_li:nth-child(5) { 
    border-right: .1rem solid rgb(255, 255, 255);  
}
.header__nav_burger {
    display: grid;
    grid-auto-flow: column; 
}
.burger__menu {
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    padding: .5rem;
}

.burger {
    width: 20px;
    height: 2px;
    background-color: black;
    position: relative;
    left: 2px;
    top: 3px;
    transition: .3s;
}

.burger.__active {
    transform: rotate(-45deg);
    position: relative;
    transition: .3s;
    background-color: rgba(255, 255, 255, 0);
}

.burger span {
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 8px;
}

.burger span::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 8px;
    transition: .3s;
}

.burger span.new::after {
    transition: .3s;
    transform: rotate(90deg);
    content: '';
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 0px;
}
.burger__nav_active {
    position: absolute;
    left: -100%;
    transition: .5s;
}
.download__price_blocks {
    
}
.download__price_items {
    text-align: center;
    padding: 2rem 0;
    background: url(../img/1634896974_5-bigfoto-name-p-stal-v-dizaine-doklad-8.png) center/cover no-repeat fixed;
}
.download__price_img {
}
.h2 {
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 0 0 .2rem black;
    color: white;
}
.download__price_ul {
}
.download__price_li {
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 0 0 .2rem black;
    color: white;
    margin: .3rem 0;
}
.main__blocks{
    position: relative;
}
.price__aside{
    display: none;
}


.price__ul {
    display: grid;
    grid-auto-flow: row;
    gap: .3rem;
}
.price__li{
    cursor: pointer;
}
.price__aside_ul{
    display: grid;
    gap: .3rem;
}
.price__aside_li{
    cursor: pointer;
    font-size: .8rem;
}

.price__menu {
    box-shadow: 0 0 .2rem 0 black;
    padding: .3rem;
}

.price__description_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    row-gap: .5rem;
}
.price__img {
    display: block;
    width: 100%;
    background: url(../img/a1.png) center/cover no-repeat;
}
.price__description {
    grid-column: 2/3;
    
}
.h3 {
    font-weight: 700;
}
.price__description_p {
    font-size: .6rem;
    line-height: 1.2rem;
    
}
.price__description_delivery{
    font-weight: 700;
    background: var(--mainColorGreen) ;
    text-shadow: 0 0 .2rem black;
    box-shadow: 0 0 .2rem 0 black;
    color: white;
    display: inline;
}
.price__control {
    align-self: center;
}
.price__control_btn {
}
.price__table_blocks {
 
}
.price__table {
    background-color: black;
    width: 100%;
}
.price__tbody {
    background-color: white;
}
.price__tr {
}
.th, .td{
    font-size: .8rem;
    text-align: center;
    font-weight: 700;
    padding: .3rem;
}

.price__td {
    padding: .3rem;
    font-size: .6rem; 
}
.price__menu_p {
    margin-top: .3rem;
    font-size: .6rem;
    text-align: center;
}
.services__blocks {
    display: grid;
    grid-auto-flow: row;
    gap: .3rem;
}
.services__header {
    background: var(--mainColorRed);
    padding: .5rem;
    border-radius: .1rem;
    text-shadow: 0 0 .1rem black;
    color: white;
    box-shadow: 0 0 .2rem 0 black;
    text-align: center;  
    font-size: 1.2rem;
}
.h5 {
    
}
.services__style {
    position: relative;
    box-shadow: 0 0 .2rem 0 black; 
    display: grid;
    grid-template-rows: 12rem 10rem;
    background: var(--metall);
  
    
}
.services__delivery {
    
}


.delivery__img {
    background: url(../img/delivery.png) center/40% no-repeat;
}
.cutting__img {
    background: url(../img/cutting.png) center/40% no-repeat;
}
.payment__img {
    background: url(../img/payment.png) center/40% no-repeat;
}
.services__description {
    padding: 1rem .3rem;
    background: url(../img/background-819054_640.png);
    text-align: center;
}
.h6 {
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(0, 0, 0);
    margin-bottom: .5rem;
    
}

.services__description_p {
    line-height: 1rem;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(0, 0, 0);
}
.payment___p{
    line-height: 1.5rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(0, 0, 0); 
}
.services__cutting {
}
.services__payment {
}
.comment__blocks {
   display: grid;
   gap: .3rem;
 
   
}
.comment__header_blocks{
    margin-top: .3rem;
    background: var(--mainColorRed);
    padding: .5rem;
    border-radius: .1rem;
    text-shadow: 0 0 .1rem black;
    color: white;
    box-shadow: 0 0 .2rem 0 black;
    text-align: center;  
    font-size: 1.2rem;
   
}
.comment__block {
   display: grid;
    gap: .3rem;  
}
.comment__header {
  
   background: var(--mainColorGray);
   display: grid;
   grid-template-columns: 1fr 1fr;
   text-align: center;
   padding: .3rem 0;
}

.comment {
    display: grig;
  
    
}
.comment_author {
}
.comment__p {
}
.comment_date {
}
.comment__main {
    padding: .5rem;
    
}
.main__text {
    padding: .3rem;
    box-shadow: 0 0 .2rem 0 black;
    border-radius: 1rem 1rem 1rem 0;
    text-align: center;
}
.comment__footer {
    margin-bottom: .3rem;
  
  
}
.comment__footer_ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.comment__footer_li{
    cursor: pointer;
    padding: .5rem;
    font-size: 1.5rem;
}
.comment__footer_li:nth-child(1) {
    border-right: .1rem solid rgb(255, 255, 255);  
}
.footer {
    background: linear-gradient(rgb(31, 31, 31), black);
}
.footer__blocks {
   
    padding: 2rem 1rem;
    display: grid;
    grid-template-rows: 2fr  1fr 1fr;
    justify-items: center;
}
.footer__logo {
    width: 150px;
    height: 150px;
    background: url(../img/logo_footer.png) center/100% no-repeat;
}
.footer__share {
    text-align: center;
}

.ya-share2 {
    margin-top: .3rem;
}
.footer__info {
    text-align: center;
}
.footer__info_p {
    color: white;
}