@media (min-width: 370px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
 
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 25rem;
    }
}

@media (min-width: 576px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
    
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 40rem;
    }

    .services__style {
        grid-template-rows: 12rem;
        grid-template-columns: 1fr 1fr;
    }

    .h6 {
        font-size: 1.3rem;
    }

    .services__description_p {
        font-size: .8rem;
    }

    .payment___p {
        line-height: 1.8rem;
        font-size: 1.5rem;
    }

    .footer__blocks {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .price__li {
        display: none;
    }

    .price__aside {
        display: block;
    }

    .price__blocks {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: .3rem;
    }

    .price__description_block {
        grid-template-rows: 3fr 1fr;
    }

    .price__description {
        grid-column: 2/3;
    }

    
    .open {
        display: block;   
    }
    .comment__block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .price__menu_p {
        font-size: .8rem;  
    }
    .logo__img{
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (min-width: 768px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
   
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 53rem;
    }

    .services__style {
        grid-template-rows: 15rem;
        grid-template-columns: 1fr 1fr;
    }

    .h6 {
        font-size: 1.5rem;
    }

    .services__description_p {
        line-height: 1.4rem;
        font-size: 1.2rem;
    }

    .payment___p {
        line-height: 2.5rem;
        font-size: 2rem;
    }
   
    .th, .td{
        font-size: 1.2rem;  
    }
    .price__td {
        font-size: 1rem;
    }
    .price__menu_p { 
            font-size: .9rem;
    }
    .price__aside_li{
        font-size: 1rem;
    }
    .h2 {
        font-size: 2rem;   
    }
    .download__price_li {
        font-size: 1.4rem;
    }
}

@media (min-width: 896px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
   
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 63rem;
    }

    .header__nav {
        display: block;
    }

    .header__nav_burger {
        display: none;
    }

    .header__contacts {
        display: grid;
        grid-template-columns: 15rem repeat(3, 2.1rem);
    }

    .services__style {
        grid-template-rows: 18rem;
        grid-template-columns: 1fr 1fr;
    }

    .h6 {
        font-size: 2rem;
    }

    .services__description_p {
        line-height: 1.6rem;
        font-size: 1.4rem;
    }

    .payment___p {
        line-height: 2.8rem;
        font-size: 2.3rem;
    }
 .main__text{
    padding: 1rem;
    font-size: 1.5rem;
 }
 .logo__img{
    width: 4rem;
    height: 4rem;
}
}

@media (min-width: 1024px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
   
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 70rem;
    }

    .h6 {
        font-size: 2.3rem;
    }

    .services__description_p {
        line-height: 1.6rem;
        
    }

    .payment___p {
        line-height: 3rem;
        font-size: 2.5rem;
    }
    .th, .td{
        font-size: 1.4rem;  
    }
    .price__td {
        font-size: 1.2rem;
    }
    .price__aside_li{
        font-size: 1.2rem;
    }
    .h2 {
        font-size: 2.5rem;   
    }
    .download__price_li {
        font-size: 2rem;
    }

}

@media (min-width: 1200px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
 
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 80rem;
    }

    .services__style {
        grid-template-rows: 20rem;
        grid-template-columns: 1fr 1fr;
    }

    .h6 {
        font-size: 2.5rem;
    }

    .services__description_p {
        line-height: 1.9rem;
        font-size: 1.8rem;
    }

    .payment___p {
        line-height: 3.1rem;
        font-size: 2.6rem;
    }
    .main__text{
        padding: 2rem;
     }
     .price__menu_p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1366px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
   
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 85rem;
    }

    .services__style {
        grid-template-rows: 23rem;
        grid-template-columns: 1fr 1fr;
    }

    .h6 {
        font-size: 2.7rem;
    }

    .services__description_p {
        line-height: 2.3rem;
        font-size: 2rem;
    }

    .payment___p {
        line-height: 3.6rem;
        font-size: 2.8rem;
    }
    .th, .td{
        font-size: 1.4rem;  
    }
    .price__td {
        font-size: 1.5rem;
    }
    .logo__img{
        width: 5rem;
        height: 5rem;
    }
}

@media (min-width: 1400px) {

    .logo_and_contacts,
    .header__nav,
    .header__nav_burger,
    .download__price_items,
    .main__blocks,
    .services__header,
    .services__style,
    .comment__header_blocks,
   
    .comment__block,
    .comment__footer,
    .footer__blocks {
        width: 94rem;
    }
}